.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
  }
  
  .gallery-image {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  